[MAIN]
extension-pkg-whitelist=
  cv2.*,
  dai.*,
  depthai.*

[TYPECHECK]
generated-members=
  cv2.*,
  dai.*,
  depthai.*

[FORMAT]
max-line-length=240

[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    I1101 # extension-pkg-allow-list
