[MAIN]
extension-pkg-whitelist=
  cv2.*,
  dai.*,
  depthai.*,
  utils.*,

[TYPECHECK]
generated-members=
  cv2.*,
  dai.*,
  depthai.*,
  utils.*,

[FORMAT]
max-line-length=240

[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    I1101, # extension-pkg-allow-list
    W0621, # redefined-outer-name
    E0611, # no-name-in-module
